body{
    height: 100%;
    margin-top: 25%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(127, 125, 189, 0.87)
}

.calculator{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 48px;
    height: 460px;
    width: 300px;
    padding: 15px;
    background-color: rgba(45, 42, 55, 1);
}

.display{
    background-color: rgba(45, 42, 55, 1);
}
.operation{
    height: 70px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 35px;
    letter-spacing: 1px;
    color: gray;
    font-size: 18px;
}

.result{
    width: 240px;
    height: 35px;
    text-align: right;
    color: white;
    font-size: clamp(15px, 5vw, 30px); 
    margin-bottom: 15px;
    margin-left: 45px; 
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.equal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    font-size: 22px;
}

.equal span{
    background-color: gray;
    width: 15px;
    margin-top: 3px;
    height: 1.5px;
}


.btn{
    background: linear-gradient(180deg, rgba(27,27,34,1) 0%, rgba(45,41,54,1) 35%, rgba(53,49,64,1) 100%);    
    width: 55px;
    height: 55px;
    margin-left: 13px;
    margin-bottom: 7px;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    border:rgba(45, 42, 55, 1);
    color: white;
    box-shadow: 0px 4px 6px rgba(0,0,0, 0.3);

}

.btn:hover{
    background: rgb(39, 36, 41);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7);
    transition: all 0.3s;    
}

.btn.CE{
    color: rgb(120, 84, 179);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

}

.btn.operator{
    background: linear-gradient(180deg, rgba(72,47,116,1) 0%, rgba(73,48,120,1) 35%, rgba(55,36,95,1) 100%);
    font-size: 26px;
}

.btn.result{
    background: linear-gradient(180deg, rgba(161,121,231,1) 0%, rgba(118,90,172,1) 35%, rgba(90,70,132,1) 100%);
    font-size: 26px;
    padding-top: 3px;
    padding-right: 19px;
}
